
.text-white { color: $color-white; }
.text-black { color: $color-black; }
.text-gray-light { color: $color-gray-light; }
.text-gray { color: $color-gray; }
.text-gray-dark { color: $color-gray-dark; }
.text-success { color: $color-success; }
.text-info { color: $color-info; }
.text-warning { color: $color-warning; }
.text-error { color: $color-error; }

.bg-white { background-color: $color-white; }
.bg-black { background-color: $color-black; }
.bg-gray-light { background-color: $color-gray-light; }
.bg-gray { background-color: $color-gray; }
.bg-gray-dark { background-color: $color-gray-dark; }
.bg-success { background-color: $color-success; }
.bg-info { background-color: $color-info; }
.bg-warning { background-color: $color-warning; }
.bg-error { background-color: $color-error; }

.border-white { border: 1px solid $color-white; }
.border-black { border: 1px solid $color-black; }
.border-gray-light { border: 1px solid $color-gray-light; }
.border-gray { border: 1px solid $color-gray; }
.border-gray-dark { border: 1px solid $color-gray-dark; }
.border-success { border: 1px solid $color-success; }
.border-info { border: 1px solid $color-info; }
.border-warning { border: 1px solid $color-warning; }
.border-error { border: 1px solid $color-error; }




.text-red { color: $red; }
.text-cyan { color: $cyan; }
.text-magenta { color: $magenta; }
.text-green { color: $green; }
.text-blue { color: $blue; }
.text-yellow { color: $yellow; }
.text-orange { color: $orange; }
.text-brown { color: $brown; }
.text-pink { color: $pink; }
.text-dark-grey { color: $dark-grey; }
.text-grey { color: $grey; }
.text-light-green { color: $light-green; }
.text-light-blue { color: $light-blue; }
.text-light-grey { color: $light-grey; }

.bg-red { background-color: $red; }
.bg-cyan { background-color: $cyan; }
.bg-magenta { background-color: $magenta; }
.bg-green { background-color: $green; }
.bg-blue { background-color: $blue; }
.bg-yellow { background-color: $yellow; }
.bg-orange { background-color: $orange; }
.bg-brown { background-color: $brown; }
.bg-pink { background-color: $pink; }
.bg-dark-grey { background-color: $dark-grey; }
.bg-grey { background-color: $grey; }
.bg-light-green { background-color: $light-green; }
.bg-light-blue { background-color: $light-blue; }
.bg-light-grey { background-color: $light-grey; }