.form {
  width: 100%;
}

.label {
  display: inline-block;
  float: left;
  padding: 0 $padding-small $padding-small 0;
}

.button,
.input,
.optgroup,
.select,
.textarea {
  border: 1px solid $color-gray;
  padding: $padding-small;
  width: 100%;
}

.button {
  background-color: $color-info;
  text-align: center;
  &:hover, &:focus {
    background-color: darken($color-info, 10%);
  }
  &:active {
    background-color: darken($color-info, 20%);
  }
}