.form {
  width: 100%;
}

.label {
  display: inline-block;
  float: left;
  padding: 0 $padding-small $padding-small 0;
}

.button,
.input,
.optgroup,
.select,
.textarea {
  border: 1px solid $color-black;
  padding: $padding-small;
  border-radius: $padding-small;
  box-shadow:
          1px 1px 1px rgba(0, 0, 0, 0.3),
          2px 2px 2px rgba(0, 0, 0, 0.2) inset;
}

.button {
  background-color: $color-info;
  box-shadow:
          1px 1px 1px rgba(0, 0, 0, 0.3),
          2px 2px 1px rgba(255, 255, 255, 1.0) inset;
  &:hover, &:focus {
    background-color: darken($color-info, 10%);
  }
  &:active {
    background-color: darken($color-info, 20%);
  }
}