*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
h1, h2, h3, h4, h5, h6,
p,
ul,
ol,
li,
a,
span,
img,
strong,
small,
table,
tr,
td,
label,
button,
input,
optgroup,
select,
textarea {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  color: $color-black;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: $font-size-text;
  line-height: $font-line-height;
  vertical-align: top;
  text-align: left;
}