
// Typography
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-text:          14px !default;
$font-size-headline:      40px !default;
$font-weight-bold:        700 !default;
$font-weight-normal:      300 !default;
$font-line-height:        1.3;

$margin-small:            5px;
$margin-medium:           10px;
$margin-big:              20px;
$padding-small:           5px;
$padding-medium:          10px;
$padding-big:             20px;

// Color
$color-white:             #ffffff !default;
$color-black:             #000000 !default;

$color-success:           #55cc55 !default;
$color-info:              #55ccdd !default;
$color-warning:           #ffcc44 !default;
$color-error:             #ff5533 !default;
