
// Typography
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-text:          14px !default;
$font-size-headline:      40px !default;
$font-weight-bold:        700 !default;
$font-weight-normal:      300 !default;
$font-line-height:        1.3;

// Color
$color-white:             #ffffff !default;
$color-black:             #000000 !default;
$color-gray-light:        #dddddd !default;
$color-gray:              #aaaaaa !default;
$color-gray-dark:         #666666 !default;

$color-success:           #55cc55 !default;
$color-info:              #55ccdd !default;
$color-warning:           #ffcc44 !default;
$color-error:             #ff5533 !default;


$margin-small:            0.5vw;
$margin-medium:           1vw;
$margin-large:            1.5vw;
$padding-small:           $margin-small;
$padding-medium:          $margin-medium;
$padding-large:           $margin-large;


$screen-mobile-landscape:       480px !default;
$screen-tablet-portrait:        768px !default;
$screen-tablet-landscape:       992px !default;
$screen-desktop:                1200px !default;
$screen-tv:                     1920px !default;