
// Typography
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-base:          14px !default;
$font-weight-bold:        700 !default;
$font-weight-normal:      300 !default;
$font-line-height:        1.3;

// Color
$color-white:             #ffffff !default;
$color-black:             #000000 !default;

$brand-success:           #5cb85c !default;
$brand-info:              #5bc0de !default;
$brand-warning:           #f0ad4e !default;
$brand-danger:            #d9534f !default;
