
@include make-col('mobile-portrait');

@media (min-width: $screen-mobile-landscape) {
  @include make-col('mobile-landscape');
}

@media (min-width: $screen-tablet-portrait) {
  @include make-col('tablet-portrait');
}

@media (min-width: $screen-tablet-landscape) {
  @include make-col('tablet-landscape');
}

@media (min-width: $screen-desktop) {
  @include make-col('desktop');
}

@media (min-width: $screen-desktop-xl) {
  @include make-col('desktop-xl');
}

.t-col {

  &--min-height {
    min-height: $grid-gutter-min-height;
  }

  &--full {
    width: 100%;
  }

  &--half {
    width: 50%;
  }

}